@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.perspective {
  height: 100vh;
  width: 100%;
  position: relative;
  perspective: 20rem;
}

.perspective-inner {
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
}

.perspective-left {
  position: fixed;
  width: 20%;
  transform: translateY(-50%);
  transition: 0.1s;
  top: 50%;
  left: 30%;
}

.perspective-right {
  position: fixed;
  width: 20%;
  top: 50%;
  right: 30%;
  transform: translate3d(0px, 0px, -10rem) translateY(-50%);
  transition: 0.1s;
}

.third {
  transform: translate3d(0px, 0px, -20rem) translateY(-50%);
}

.fourth {
  transform: translate3d(0px, 0px, -30rem) translateY(-50%);
}

.spacer {
  height: 60vh;
}

/* Hamburger*/
.burger {
  width: 100%;
  &::after,
  &::before {
    content: "";
    display: block;
    height: 2px;
    width: 40%;
    margin: auto;
    background-color: #986845;
    position: relative;
    transition: transform 0.3s;
  }

  &::after {
    top: -5px;
  }

  &::before {
    top: 5px;
  }
}

.burgerActive {
  &::after {
    transform: rotate(45deg);
    top: -2px;
  }

  &::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}
